
body {
  min-height: 400px;
  margin-bottom: 60px;
  clear: both;
  display: flex;
  flex-direction: column;
}
footer {
  /* just for demo */
  background-color: #F8F8F8;
  border-top: 1px solid #E7E7E7;
  text-align:center;
  padding:20px;
  /* just for demo */

  left: 0;
  bottom: 0;
  height: 60px;
  width: 100%;
  margin-top: auto;
  position: absolute;
  right: 0;


}
