<div class="container">

  <div class="jumbotron w-100 py-5 mx-auto">

    <p class="lead">

       Data stored in the cloud with the help of Amazon S3 web service. Objects are accessed via REST API.

      <br>

      The S3 cloud storage service gives a subscriber access to the same systems that Amazon uses to run its own
      websites.
      S3 enables customers to upload, store and download practically any file or object that is up to five terabytes
      (TB) in size.

    </p>

  </div>
</div>


<div class="container">
  <div style="color: blue; margin-bottom: 20px">
  </div>

  <app-form-upload></app-form-upload>

  <br/>
  <br/>

  <app-list-upload></app-list-upload>
</div>
