
  <div *ngIf="isLoggedIn; else loggedOut">
    Logged in as {{roles}}.
  </div>

  <ng-template #loggedOut>
    <div class="container-fluid">
      <div class="row no-gutter">
        <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
        <div class="col-md-8 col-lg-6">
          <div class="login d-flex align-items-center py-5">
            <div class="container">
              <div class="row">
                <div class="col-md-9 col-lg-8 mx-auto">
                  <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                    <div class="form-group">
                      <label for="name">Your name</label>
                      <input type="text"
                             id="name"
                             required minlength="3"
                             class="form-control" name="name" [(ngModel)]="form.name" #name="ngModel"/>
                      <div *ngIf="f.submitted && name.invalid">
                        <div *ngIf="name.errors.required">Name is required</div>
                        <div *ngIf="name.errors.minlength">Name must be at least 3 characters</div>

                      </div>
                    </div>
                    <div class="form-group">
                      <label for="username">Username</label>
                      <input type="text" class="form-control"
                             id="username"
                             name="username" [(ngModel)]="form.username"
                             #username="ngModel"
                             required/>
                      <div *ngIf="f.submitted && username.invalid">
                        <div *ngIf="username.errors.required">Username is required</div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="email">Email</label>
                      <input type="email"
                             id="email"
                             class="form-control" name="email" [(ngModel)]="form.email" #email="ngModel"
                             required email/>
                      <div *ngIf="f.submitted && email.invalid">
                        <div *ngIf="email.errors.required">Email is required</div>
                        <div *ngIf="email.errors.email">Email must be a valid email address</div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="password">Password</label>
                      <input type="password"
                             class="form-control"
                             name="password"
                             #password="ngModel"
                             [(ngModel)]="form.password"
                             id="password"
                             required minlength="6"/>
                      <div *ngIf="f.submitted && password.invalid">
                        <div *ngIf="password.errors.required">Password is required</div>
                          <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
                        </div>

                    </div>

                    <div class="form-group">

                    </div>



                    <div class="form-group">
                      <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2"
                              type="submit">Register
                      </button>


                      <div *ngIf="f.submitted && isSignUpFailed" class="alert alert-warning">
                        Signup failed!<br/>{{errorMessage}}
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
